body{
color: rgb(158, 34, 34);
background: rgb(12, 12, 12);
 margin: 0px;
}

header { 
border-bottom: solid 2px rgb(133, 23, 74);
padding: 20px;
font-size: 32px;
color: rgb(129, 18, 79);
}

section { 
    background: rgb(206, 28, 28);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }

    .chamada-texto { 
        margin-right: 5%;
 }