body{
color: rgb(255, 255, 255);
background: rgb(12, 12, 12);
 margin: 0px;
  font-family: "DM Serif Display", serif;
}

header { 
border-bottom: solid 2px rgb(133, 23, 38);
padding: 20px;
font-size: 32px;
color: rgb(241, 241, 241);
}

.chamada { 
    background: rgb(206, 28, 28);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }

    .chamada-texto { 
        margin-right: 5%;
 }

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;

  }

  .categoria-videos img {
      opacity: 0.5;
height: 200px;
  }

  .categoria-videos img:hover{
    opacity: 1.0;
    border:1px solid green
  }